In [ ]:
import pandas as pd
from sqlalchemy import create_engine, text
from transformers import CLIPModel, CLIPProcessor
from PIL import Image
import torch
import lorem

In [ ]:
def clone_database():
    # Conectar a la base de datos original
    engine_original = create_engine('sqlite:///./drive/MyDrive/social/metadata.db')

    # Obtener las tablas de la base de datos original, excluyendo la tabla sqlite_sequence
    tables = pd.read_sql("SELECT name FROM sqlite_master WHERE type='table' AND name != 'sqlite_sequence';", engine_original)

    # Leer los datos de cada tabla en un DataFrame
    dataframes = {}
    for table in tables['name']:
        dataframes[table] = pd.read_sql(f"SELECT * FROM {table}", engine_original)

    # Ver los primeros datos de una tabla (por ejemplo, la primera tabla)
    print(dataframes[tables['name'][0]].head())

    # Conectar a la base de datos clonada
    engine_copia = create_engine('sqlite:///./drive/MyDrive/social/clean_metadata.db')

    # Escribir los DataFrames en la nueva base de datos
    for table, df in dataframes.items():
        df.to_sql(table, engine_copia, index=False, if_exists='replace')

    print("Base de datos clonada exitosamente.")

In [ ]:
# # Conectar a la base de datos SQLite
# engine_original = create_engine('sqlite:///drive/MyDrive/social/metadata.db')

# # Especificar el nombre de la tabla (aseg√∫rate de conocerlo)
# table_name = "ImageData"

# # Leer las primeras 5 filas de la tabla
# df = pd.read_sql(f"SELECT * FROM {table_name} LIMIT 5;", con=engine_original)

# # Extraer el primer valor
# first_image_path = df.iloc[0, 4]  # Primera fila, primera columna

# # Mostrar el resultado
# print(first_image_path)

# # Mostrar los datos
# print(df)